body{
	background-color: #282828;
	color: whitesmoke;
	font-family: "consolas","sans-serif";
}
iframe{
	display: block;
	margin:0 auto;
	width: 90%;
	height: 1000px;
}
.tabs h1{
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	
}
.home {
	text-align: center;
	width: 50%;
	
}
.about{
	text-align: center;
	width: 50%;
	
}
h1{
	font-size: 450%;
	margin-bottom: 100px;
}
h2{
	font-size: 400%;
	text-align: center;
}
p{
	text-align: center;
	font-size: 200%;
	padding: 0px;
}
